<div class="h-container layer4">
  <div class="journal-header-container">
    <h1><span><%= @logbook.date.strftime("%d of %B") %><br><%= @logbook.time.strftime("%I:%M %p") %></span></h1>
  </div>
  <div class="journal-entry">
    <h5><%= @logbook.emoji.image.html_safe %>  <%= @logbook.emoji.title %></h5>
    <p><%= @logbook.summary %></p>
    <%= cl_image_tag(@logbook.image.key, class:"card-img-top journal-image", crop: :fill) if @logbook.image.attached? %>
    <br>
    <% @logbook.journals.each do |journal| %>
      Journal entry at <%= journal.created_at.strftime("%I:%M %p") %>:
      <p><%= journal.prompt.content if journal.prompt %></p>
      <p><%= journal.content %></p>
      <div class="d-flex justify-content-between">
      <%= link_to "Edit journal", edit_logbook_journal_path(@logbook, journal) %>
    <% end %>
      <div class="d-flex justify-content-end">
      <% edit = '<i class="fa-regular fa-pen-to-square"></i>' %>
      <%= link_to edit.html_safe, edit_logbook_path(@logbook), class:"btn btn-secondary mb-3" %>
      </div>
    </div>
  </div>
</div>
