<div class="show-container layer-recommendation mb-5">
  <div class="container mt-5">
    <div class="recommendations-header mb-4 mt-3">
      <h1>What to read</h1>
      <div class="d-flex justify-content-end">
        <p>since you're feeling <em><%= @logbook.emoji.title.downcase %></em>.</p>
      </div>
      <p><em>you're doing great by staying in touch with your feelings. </em></p>
    </div>
    <% @recommendations.each do |recommendation| %>
      <%= link_to recommendation.url do %>
        <div class="card-product m-4">
          <%= image_tag(recommendation.image_url.html_safe) %>
          <div class="card-product-infos">
            <h2><%= recommendation.title %></h2>
            <p><%= recommendation.author %></p>
            <h5><%= recommendation.description.truncate(115) %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
