<div class="show-container layer-journal">
  <div class="journal-container">
    <h1>Today: <br><%= Date.today.strftime("%d %b, %Y") %></h1>

    <%= simple_form_for [@logbook, @journal] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <p><%= @journal.prompt.content %></p>
      <%= f.association :prompt, label_method: :content, as: :hidden %>

      <%= f.input :content, label: "Write here" %>

      <div class="form-actions d-flex justify-content-end">
        <% delete = '<i class="fa-solid fa-xmark"></i>' %>
        <%= link_to delete.html_safe, logbook_journal_path(@logbook, @journal), class:"btn btn-secondary mx-1", data: { turbo_method: :delete } %>
        <%= f.submit 'Save', class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
